html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000000;
}

h1,
h2,
h3 {
    font-weight: bold;
}

footer {
    font-size: small;
    background-color: #A0A0A0;
    color: black;
}

/*Bootstrap*/

.container {
    /*border: 2px solid #000000;*/

}

.navbar {
    background-color: #002E5D;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin-inline: 10px;
}

.table {
    border: 1px solid black;
    background-color: #F0F0F0;
}

.table th,
.table td {
    border: 1px solid black;
}


/*Custom*/

.navy-text {
    color: #002E5D !important;
}

.profile-picture {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.logo-box {
    background-color: #5685A9;
    border-radius: 8px;
    padding: 3px;
    font-size: larger;
    padding-inline: 0;
}

.login-box {
    background-color: #7FE77F;
    border-radius: 8px;
    padding: 3px;
}

.white-pill {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    margin: 12px;
    width: 120px;
    height: 160px;
    color: black;
    font-weight: bold;
}

.white-pill img {
    width: 88px;
    display: block;
    margin: 0 auto;
}

.rounded-box {
    border-radius: 60px;
    background-color: #F0F0F0;
    padding-inline: 10%;
    padding-block: 10px;

}

#calendar {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    background-color: #F0F0F0;
}

#calendar th {
    background-color: #5685A9;
    font-weight: bold;
    white-space: nowrap; 
}

#calendar th:first-child {
    visibility: hidden;
    border: none;
}

#calendar td:first-child {
    font-weight: bold;
    border-left: none;
    background-color: transparent;
}

#calendar td.available {
    background-color: #7FE77F;
}