html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #002E5D;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.container {
    /*border: 2px solid #000000;*/

}

.navbar {
    background-color: #002E5D;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin-inline: 10px;
}

.logo-box {
    background-color: #5685A9;
    border-radius: 8px;
    padding: 3px;
    font-size: larger;
    padding-inline: 0;
}

.login-box {
    background-color: #98FF98;
    border-radius: 8px;
    padding: 3px;
}

.logo-box .nav-link,
.login-box .nav-link {
    color: #002E5D;
}

.white-pill {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    margin: 12px;
    width: 120px;
    height: 160px;
    color: black;
    font-weight: bold;
}

.white-pill img {
    width: 88px;
    display: block;
    margin: 0 auto;
}

footer {
    font-size: small;
    background-color: #A0A0A0;
    color: black;
}