html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000000;
}

h1,
h2,
h3 {
    font-weight: bold;
}

footer {
    font-size: small;
    background-color: #A0A0A0;
    color: black;
}

hr {
    border-top: 1px solid #000000;
    opacity: 1;
}


label {
    display: block;
    font-weight: bold;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;

}



/*Bootstrap*/

.container {
    /*border: 2px solid #000000;*/

}

.navbar {
    background-color: #002E5D;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin-inline: 10px;
}

.table {
    border: 1px solid black;
    background-color: #F0F0F0;
}

.table th,
.table td {
    border: 1px solid black;
}


/*Custom*/

.navy-text {
    color: #002E5D !important;
}

.sky-text {
    color: #5685A9 !important;
}

.profile-picture {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.logo-box {
    background-color: #5685A9;
    border-radius: 8px;
    padding: 3px;
    font-size: larger;
    padding-inline: 0;
}

.login-box {
    background-color: #7FE77F;
    border-radius: 8px;
    padding: 3px;
}

.white-pill {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    margin: 12px;
    width: 120px;
    height: 160px;
    color: black;
    font-weight: bold;
}

.white-pill img {
    width: 88px;
    display: block;
    margin: 0 auto;
}

.gray-pill {
    display: inline-flex;
    background-color: #cccccc;
    border-radius: 20px;
    padding: 4px 8px;
    color: black;
    font-weight: bold;
    font-size: x-large;
    line-height: 46px;
}

.gray-pill img {
    width: 30px;
}

button[type="submit"]:hover {
    /* Neutralize hover styles */
    background-color: initial;
    color: initial;
    text-decoration: none;
    /* Add any other styles you want to remove or modify */
  }

.button-pill {
    display: inline-block;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #5685A9;
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    width: fit-content;
    margin: 0 auto;
}

.rounded-box {
    border-radius: 10px;
    background-color: #F0F0F0;
    padding: 10px;

}

#calendar {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    background-color: #F0F0F0;
}

#calendar th {
    background-color: #5685A9;
    font-weight: bold;
    white-space: nowrap;
}

#calendar th:first-child {
    visibility: hidden;
    border: none;
}

#calendar td:first-child {
    font-weight: bold;
    border-left: none;
    background-color: transparent;
}

#calendar td.available {
    background-color: #7FE77F;
}

.star-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #f9d71c;
    clip-path: polygon(50% 0%,
            63% 38%,
            100% 38%,
            69% 59%,
            82% 100%,
            50% 75%,
            18% 100%,
            31% 59%,
            0% 38%,
            37% 38%);
}